<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

 
RewriteRule ^students/?$ students.php [NC,L]
RewriteRule ^students/([0-9]+)/?$ students.php?id=$1 [NC,L]
</IfModule>
